In [11]:
import pandas as pd

In [12]:
df = pd.read_csv("./csvs/heart.csv")
df.sample(5)

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease
186,58,M,ATA,130,251,0,Normal,110,N,0.0,Up,0
538,54,M,ASY,130,202,1,Normal,112,Y,2.0,Flat,1
618,64,M,ASY,128,263,0,Normal,105,Y,0.2,Flat,0
289,36,M,ATA,120,166,0,Normal,180,N,0.0,Up,0
531,64,M,ASY,143,306,1,ST,115,Y,1.8,Flat,1

In [13]:
df.shape

(918, 12)

In [14]:
df.describe()

,Age,RestingBP,Cholesterol,FastingBS,MaxHR,Oldpeak,HeartDisease
count,918.000000,918.000000,918.000000,918.000000,918.000000,918.000000,918.000000
mean,53.510893,132.396514,198.799564,0.233115,136.809368,0.887364,0.553377
std,9.432617,18.514154,109.384145,0.423046,25.460334,1.066570,0.497414
min,28.000000,0.000000,0.000000,0.000000,60.000000,-2.600000,0.000000
25%,47.000000,120.000000,173.250000,0.000000,120.000000,0.000000,0.000000
50%,54.000000,130.000000,223.000000,0.000000,138.000000,0.600000,1.000000
75%,60.000000,140.000000,267.000000,0.000000,156.000000,1.500000,1.000000
max,77.000000,200.000000,603.000000,1.000000,202.000000,6.200000,1.000000

In [15]:
col = ["Age" , "RestingBP" , "Cholesterol" , "FastingBS" , "MaxHR" , "Oldpeak"]
for i in col:
    df = df[(df[i] < (df[i].mean() + 3*df[i].std())) & (df[i] > (df[i].mean() - 3*df[i].std())) ]

In [16]:
df.shape

(899, 12)

In [17]:
df.describe()

,Age,RestingBP,Cholesterol,FastingBS,MaxHR,Oldpeak,HeartDisease
count,899.000000,899.000000,899.000000,899.000000,899.000000,899.000000,899.000000
mean,53.497219,132.027809,198.005562,0.232481,136.917686,0.861513,0.547275
std,9.456073,17.120895,107.157779,0.422649,25.356740,1.007626,0.498037
min,28.000000,80.000000,0.000000,0.000000,63.000000,-2.000000,0.000000
25%,47.000000,120.000000,174.500000,0.000000,120.000000,0.000000,0.000000
50%,54.000000,130.000000,222.000000,0.000000,138.000000,0.500000,1.000000
75%,60.000000,140.000000,266.000000,0.000000,156.000000,1.500000,1.000000
max,77.000000,185.000000,518.000000,1.000000,202.000000,4.000000,1.000000

In [18]:
df.sample(2)

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease
488,65,M,TA,140,252,0,Normal,135,N,0.3,Up,0
217,54,M,NAP,120,217,0,Normal,137,N,0.0,Up,0

In [19]:
col = ["Sex" , "ChestPainType" , "RestingECG" , "ExerciseAngina" , "ST_Slope" , ]
for i in col:
    print ( i , df[i].unique())

Sex ['M' 'F']
ChestPainType ['ATA' 'NAP' 'ASY' 'TA']
RestingECG ['Normal' 'ST' 'LVH']
ExerciseAngina ['N' 'Y']
ST_Slope ['Up' 'Flat' 'Down']

In [20]:
df2 = df.copy()

In [22]:
from sklearn.preprocessing import LabelEncoder

In [23]:
col = [ "ChestPainType" , "RestingECG" ,  "ST_Slope"  ]
for i in col:
    df2[i] = LabelEncoder().fit_transform(df2[i])

In [24]:
df2.sample(3)

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease
224,55,M,1,120,256,1,1,137,N,0.0,2,0
258,51,F,2,150,200,0,1,120,N,0.5,2,0
792,46,M,2,150,231,0,1,147,N,3.6,1,1

In [25]:
df2 = pd.get_dummies(df2 , drop_first=True)
df2.sample(2)

,Age,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,Oldpeak,ST_Slope,HeartDisease,Sex_M,ExerciseAngina_Y
795,42,2,120,240,1,1,194,0.8,0,0,1,0
481,69,2,140,0,1,2,118,2.5,0,1,1,0

In [29]:
df2

,Age,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,Oldpeak,ST_Slope,HeartDisease,Sex_M,ExerciseAngina_Y
0,40,1,140,289,0,1,172,0.0,2,0,1,0
1,49,2,160,180,0,1,156,1.0,1,1,0,0
2,37,1,130,283,0,2,98,0.0,2,0,1,0
3,48,0,138,214,0,1,108,1.5,1,1,0,1
4,54,2,150,195,0,1,122,0.0,2,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...
913,45,3,110,264,0,1,132,1.2,1,1,1,0
914,68,0,144,193,1,1,141,3.4,1,1,1,0
915,57,0,130,131,0,1,115,1.2,1,1,1,1
916,57,1,130,236,0,0,174,0.0,1,1,0,0
917,38,2,138,175,0,1,173,0.0,2,0,1,0

In [26]:
from sklearn.preprocessing import StandardScaler
st = StandardScaler()
X = st.fit_transform(df2.drop("HeartDisease" , axis=1))

In [32]:
from sklearn.model_selection import train_test_split
X_train , X_test , y_train , y_test = train_test_split(X , df2.HeartDisease)

In [34]:
from sklearn.svm import SVC
sc = SVC(kernel="linear")
sc.fit(X_train , y_train)

SVC(kernel='linear')

In [35]:
sc.score(X_test , y_test)

0.8755555555555555

In [31]:
from sklearn.decomposition import PCA

In [36]:
pt = PCA(0.96)

In [38]:
X_new = pt.fit_transform(X)

In [41]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X_new , df2.HeartDisease , test_size=0.2)

In [42]:
from sklearn.svm import SVC
sc = SVC(kernel="linear")
sc.fit(X_train , y_train)

SVC(kernel='linear')

In [43]:
sc.score(X_test , y_test)

0.85